In [9]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [6]:
# data 
csv_url = "https://drive.google.com/uc?export=download&id=1qWnl8VXNl_lWSD8WBvJTvvtEycfejiqJ"
df = pd.read_csv(csv_url,low_memory=False)

df.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,1077501,1296599,5000,5000,4975.0,36 months,10.65%,162.87,B,B2,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
1,1077430,1314167,2500,2500,2500.0,60 months,15.27%,59.83,C,C4,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
2,1077175,1313524,2400,2400,2400.0,36 months,15.96%,84.33,C,C5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
3,1076863,1277178,10000,10000,10000.0,36 months,13.49%,339.31,C,C1,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
4,1075358,1311748,3000,3000,3000.0,60 months,12.69%,67.79,B,B5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN

In [8]:
len(df) # total entries

39717

In [13]:
list(df.groupby("grade"))

[('A',
              id  member_id  loan_amnt  funded_amnt  funded_amnt_inv  \
  5      1075269    1311441       5000         5000           5000.0
  17     1069971    1304884       3600         3600           3600.0
  19     1069742    1304855       9200         9200           9200.0
  30     1032111    1261745       4375         4375           4375.0
  31     1069539    1304608      31825        31825          31825.0
  ...        ...        ...        ...          ...              ...
  39706    92676      92671       5000         5000            150.0
  39710    92507      92502       5000         5000            250.0
  39712    92187      92174       2500         2500           1075.0
  39714    90395      90390       5000         5000           1325.0
  39715    90376      89243       5000         5000            650.0

               term int_rate  installment grade sub_grade  ...  \
  5       36 months    7.90%       156.46     A        A4  ...
  17      36 months    6.03%       109.57     A        A1  ...
  19      36 months    6.03%       280.01     A        A1  ...
  30      36 months    7.51%       136.11     A        A3  ...
  31      36 months    7.90%       995.82     A        A4  ...
  ...           ...      ...          ...   ...       ...  ...
  39706   36 months    8.07%       156.84     A        A4  ...
  39710   36 months    7.43%       155.38     A        A2  ...
  39712   36 months    8.07%        78.42     A        A4  ...
  39714   36 months    8.07%       156.84     A        A4  ...
  39715   36 months    7.43%       155.38     A        A2  ...

        num_tl_90g_dpd_24m num_tl_op_past_12m pct_tl_nvr_dlq  percent_bc_gt_75  \
  5                    NaN                NaN            NaN               NaN
  17                   NaN                NaN            NaN               NaN
  19                   NaN                NaN            NaN               NaN
  30                   NaN                NaN            NaN               NaN
  31                   NaN                NaN            NaN               NaN
  ...                  ...                ...            ...               ...
  39706                NaN                NaN            NaN               NaN
  39710                NaN                NaN            NaN               NaN
  39712                NaN                NaN            NaN               NaN
  39714                NaN                NaN            NaN               NaN
  39715                NaN                NaN            NaN               NaN

        pub_rec_bankruptcies tax_liens tot_hi_cred_lim total_bal_ex_mort  \
  5                      0.0       0.0             NaN               NaN
  17                     0.0       0.0             NaN               NaN
  19                     0.0       0.0             NaN               NaN
  30                     0.0       0.0             NaN               NaN
  31                     0.0       0.0             NaN               NaN
  ...                    ...       ...             ...               ...
  39706                  NaN       NaN             NaN               NaN
  39710                  NaN       NaN             NaN               NaN
  39712                  NaN       NaN             NaN               NaN
  39714                  NaN       NaN             NaN               NaN
  39715                  NaN       NaN             NaN               NaN

        total_bc_limit total_il_high_credit_limit
  5                NaN                        NaN
  17               NaN                        NaN
  19               NaN                        NaN
  30               NaN                        NaN
  31               NaN                        NaN
  ...              ...                        ...
  39706            NaN                        NaN
  39710            NaN                        NaN
  39712            NaN                        NaN
  39714            NaN                        NaN
  39715            NaN                        NaN

  [10085 rows x 111 columns]),
 ('B',
              id  member_id  loan_amnt  funded_amnt  funded_amnt_inv  \
  0      1077501    1296599       5000         5000           4975.0
  4      1075358    1311748       3000         3000           3000.0
  9      1071570    1306721       5375         5375           5350.0
  11     1069908    1305008      12000        12000          12000.0
  13     1069866    1304956       3000         3000           3000.0
  ...        ...        ...        ...          ...              ...
  39698    98982      98957       5000         5000            675.0
  39704    93277      93254       3000         3000            950.0
  39707    92666      92661       5000         5000            525.0
  39708    92552      92542       5000         5000            375.0
  39711    92402      92390       5000         5000            700.0

               term int_rate  installment grade sub_grade  ...  \
  0       36 months   10.65%       162.87     B        B2  ...
  4       60 months   12.69%        67.79     B        B5  ...
  9       60 months   12.69%       121.45     B        B5  ...
  11      36 months   12.69%       402.54     B        B5  ...
  13      36 months    9.91%        96.68     B        B1  ...
  ...           ...      ...          ...   ...       ...  ...
  39698   36 months    9.01%       159.03     B        B2  ...
  39704   36 months    8.70%        94.98     B        B1  ...
  39707   36 months    9.33%       159.77     B        B3  ...
  39708   36 months    9.96%       161.25     B        B5  ...
  39711   36 months    8.70%       158.30     B        B1  ...

        num_tl_90g_dpd_24m num_tl_op_past_12m pct_tl_nvr_dlq  percent_bc_gt_75  \
  0                    NaN                NaN            NaN               NaN
  4                    NaN                NaN            NaN               NaN
  9                    NaN                NaN            NaN               NaN
  11                   NaN                NaN            NaN               NaN
  13                   NaN                NaN            NaN               NaN
  ...                  ...                ...            ...               ...
  39698                NaN                NaN            NaN               NaN
  39704                NaN                NaN            NaN               NaN
  39707                NaN                NaN            NaN               NaN
  39708                NaN                NaN            NaN               NaN
  39711                NaN                NaN            NaN               NaN

        pub_rec_bankruptcies tax_liens tot_hi_cred_lim total_bal_ex_mort  \
  0                      0.0       0.0             NaN               NaN
  4                      0.0       0.0             NaN               NaN
  9                      0.0       0.0             NaN               NaN
  11                     0.0       0.0             NaN               NaN
  13                     0.0       0.0             NaN               NaN
  ...                    ...       ...             ...               ...
  39698                  NaN       NaN             NaN               NaN
  39704                  NaN       NaN             NaN               NaN
  39707                  NaN       NaN             NaN               NaN
  39708                  NaN       NaN             NaN               NaN
  39711                  NaN       NaN             NaN               NaN

        total_bc_limit total_il_high_credit_limit
  0                NaN                        NaN
  4                NaN                        NaN
  9                NaN                        NaN
  11               NaN                        NaN
  13               NaN                        NaN
  ...              ...                        ...
  39698            NaN                        NaN
  39704            NaN                        NaN
  39707            NaN                        NaN
  39708            NaN                        NaN
  39711            NaN                        NaN

  [12020 rows x 111 columns]),
 ('C',
              id  member_id  loan_amnt  funded_amnt  funded_amnt_inv  \
  1      1077430    1314167       2500         2500           2500.0
  2      1077175    1313524       2400         2400           2400.0
  3      1076863    1277178      10000        10000          10000.0
  6      1069639    1304742       7000         7000           7000.0
  10     1070078    1305201       6500         6500           6500.0
  ...        ...        ...        ...          ...              ...
  39697   101579     100083      10000        10000            400.0
  39702    96350      96338       5000         5000            850.0
  39703    94838      73673       3000         3000           2550.0
  39709    92533      92529       5000         5000            675.0
  39713    90665      90607       8500         8500            875.0

               term int_rate  installment grade sub_grade  ...  \
  1       60 months   15.27%        59.83     C        C4  ...
  2       36 months   15.96%        84.33     C        C5  ...
  3       36 months   13.49%       339.31     C        C1  ...
  6       60 months   15.96%       170.08     C        C5  ...
  10      60 months   14.65%       153.45     C        C3  ...
  ...           ...      ...          ...   ...       ...  ...
  39697   36 months   10.28%       323.98     C        C1  ...
  39702   36 months   11.22%       164.23     C        C4  ...
  39703   36 months   10.28%        97.20     C        C1  ...
  39709   36 months   11.22%       164.23     C        C4  ...
  39713   36 months   10.28%       275.38     C        C1  ...

        num_tl_90g_dpd_24m num_tl_op_past_12m pct_tl_nvr_dlq  percent_bc_gt_75  \
  1                    NaN                NaN            NaN               NaN
  2                    NaN                NaN            NaN               NaN
  3                    NaN                NaN            NaN               NaN
  6                    NaN                NaN            NaN               NaN
  10                   NaN                NaN            NaN               NaN
  ...                  ...                ...            ...               ...
  39697                NaN                NaN            NaN               NaN
  39702                NaN                NaN            NaN               NaN
  39703                NaN                NaN            NaN               NaN
  39709                NaN                NaN            NaN               NaN
  39713                NaN                NaN            NaN               NaN

        pub_rec_bankruptcies tax_liens tot_hi_cred_lim total_bal_ex_mort  \
  1                      0.0       0.0             NaN               NaN
  2                      0.0       0.0             NaN               NaN
  3                      0.0       0.0             NaN               NaN
  6                      0.0       0.0             NaN               NaN
  10                     0.0       0.0             NaN               NaN
  ...                    ...       ...             ...               ...
  39697                  NaN       NaN             NaN               NaN
  39702                  NaN       NaN             NaN               NaN
  39703                  NaN       NaN             NaN               NaN
  39709                  NaN       NaN             NaN               NaN
  39713                  NaN       NaN             NaN               NaN

        total_bc_limit total_il_high_credit_limit
  1                NaN                        NaN
  2                NaN                        NaN
  3                NaN                        NaN
  6                NaN                        NaN
  10               NaN                        NaN
  ...              ...                        ...
  39697            NaN                        NaN
  39702            NaN                        NaN
  39703            NaN                        NaN
  39709            NaN                        NaN
  39713            NaN                        NaN

  [8098 rows x 111 columns]),
 ('D',
              id  member_id  loan_amnt  funded_amnt  funded_amnt_inv  \
  15     1069759    1304871       1000         1000           1000.0
  27     1069657    1304764       5000         5000           5000.0
  42     1069314    1304202       3000         3000           3000.0
  43     1060578    1292332       4400         4400           4400.0
  59     1068945    1287308       7100         7100           7100.0
  ...        ...        ...        ...          ...              ...
  39657   122070     120407       5400         5400           1650.0
  39667   118823     118026       2500         2500            675.0
  39680   112496     112493       3000         3000            525.0
  39684   112216     106279      12000        12000           1025.0
  39687   111307     105982      12000        12000           2500.0

               term int_rate  installment grade sub_grade  ...  \
  15      36 months   16.29%        35.31     D        D1  ...
  27      60 months   16.77%       123.65     D        D2  ...
  42      36 months   18.25%       108.84     D        D5  ...
  43      36 months   16.77%       156.37     D        D2  ...
  59      36 months   16.77%       252.33     D        D2  ...
  ...           ...      ...          ...   ...       ...  ...
  39657   36 months   12.17%       179.80     D        D2  ...
  39667   36 months   12.80%        84.00     D        D4  ...
  39680   36 months   11.86%        99.44     D        D1  ...
  39684   36 months   11.86%       397.75     D        D1  ...
  39687   36 months   12.49%       401.37     D        D3  ...

        num_tl_90g_dpd_24m num_tl_op_past_12m pct_tl_nvr_dlq  percent_bc_gt_75  \
  15                   NaN                NaN            NaN               NaN
  27                   NaN                NaN            NaN               NaN
  42                   NaN                NaN            NaN               NaN
  43                   NaN                NaN            NaN               NaN
  59                   NaN                NaN            NaN               NaN
  ...                  ...                ...            ...               ...
  39657                NaN                NaN            NaN               NaN
  39667                NaN                NaN            NaN               NaN
  39680                NaN                NaN            NaN               NaN
  39684                NaN                NaN            NaN               NaN
  39687                NaN                NaN            NaN               NaN

        pub_rec_bankruptcies tax_liens tot_hi_cred_lim total_bal_ex_mort  \
  15                     0.0       0.0             NaN               NaN
  27                     0.0       0.0             NaN               NaN
  42                     0.0       0.0             NaN               NaN
  43                     0.0       0.0             NaN               NaN
  59                     0.0       0.0             NaN               NaN
  ...                    ...       ...             ...               ...
  39657                  NaN       0.0             NaN               NaN
  39667                  NaN       0.0             NaN               NaN
  39680                  1.0       0.0             NaN               NaN
  39684                  NaN       0.0             NaN               NaN
  39687                  NaN       NaN             NaN               NaN

        total_bc_limit total_il_high_credit_limit
  15               NaN                        NaN
  27               NaN                        NaN
  42               NaN                        NaN
  43               NaN                        NaN
  59               NaN                        NaN
  ...              ...                        ...
  39657            NaN                        NaN
  39667            NaN                        NaN
  39680            NaN                        NaN
  39684            NaN                        NaN
  39687            NaN                        NaN

  [5307 rows x 111 columns]),
 ('E',
              id  member_id  loan_amnt  funded_amnt  funded_amnt_inv  \
  7      1072053    1288686       3000         3000           3000.0
  55     1069410    1303652      21000        21000          20975.0
  56     1068409    1302790      16000        16000          15950.0
  79     1048390    1279714      18000        18000          18000.0
  92     1065674    1299785       8200         8200           8200.0
  ...        ...        ...        ...          ...              ...
  39626   131782     131769       7725         7725           1025.0
  39633   130735     130725      10250        10250            925.0
  39674   116582     116502      10000        10000            975.0
  39688   111227     111223      20000        20000           2800.0
  39716    87023      86999       7500         7500            800.0

               term int_rate  installment grade sub_grade  ...  \
  7       36 months   18.64%       109.43     E        E1  ...
  55      60 months   19.91%       555.33     E        E4  ...
  56      60 months   19.91%       423.11     E        E4  ...
  79      60 months   19.91%       475.99     E        E4  ...
  92      60 months   19.42%       214.62     E        E3  ...
  ...           ...      ...          ...   ...       ...  ...
  39626   36 months   13.75%       263.09     E        E2  ...
  39633   36 months   14.38%       352.22     E        E4  ...
  39674   36 months   13.75%       340.57     E        E2  ...
  39688   36 months   13.43%       678.08     E        E1  ...
  39716   36 months   13.75%       255.43     E        E2  ...

        num_tl_90g_dpd_24m num_tl_op_past_12m pct_tl_nvr_dlq  percent_bc_gt_75  \
  7                    NaN                NaN            NaN               NaN
  55                   NaN                NaN            NaN               NaN
  56                   NaN                NaN            NaN               NaN
  79                   NaN                NaN            NaN               NaN
  92                   NaN                NaN            NaN               NaN
  ...                  ...                ...            ...               ...
  39626                NaN                NaN            NaN               NaN
  39633                NaN                NaN            NaN               NaN
  39674                NaN                NaN            NaN               NaN
  39688                NaN                NaN            NaN               NaN
  39716                NaN                NaN            NaN               NaN

        pub_rec_bankruptcies tax_liens tot_hi_cred_lim total_bal_ex_mort  \
  7                      0.0       0.0             NaN               NaN
  55                     0.0       0.0             NaN               NaN
  56                     0.0       0.0             NaN               NaN
  79                     0.0       0.0             NaN               NaN
  92                     0.0       0.0             NaN               NaN
  ...                    ...       ...             ...               ...
  39626                  NaN       0.0             NaN               NaN
  39633                  NaN       0.0             NaN               NaN
  39674                  NaN       0.0             NaN               NaN
  39688                  NaN       NaN             NaN               NaN
  39716                  NaN       NaN             NaN               NaN

        total_bc_limit total_il_high_credit_limit
  7                NaN                        NaN
  55               NaN                        NaN
  56               NaN                        NaN
  79               NaN                        NaN
  92               NaN                        NaN

In [14]:
df.groupby("grade").count()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,sub_grade,emp_title,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
grade,,,,,,,,,,,,,,,,,,,,,
A,10085,10085,10085,10085,10085,10085,10085,10085,10085,9320,...,0,0,0,0,9943,10068,0,0,0,0
B,12020,12020,12020,12020,12020,12020,12020,12020,12020,11271,...,0,0,0,0,11811,12010,0,0,0,0
C,8098,8098,8098,8098,8098,8098,8098,8098,8098,7651,...,0,0,0,0,7915,8090,0,0,0,0
D,5307,5307,5307,5307,5307,5307,5307,5307,5307,5020,...,0,0,0,0,5196,5306,0,0,0,0
E,2842,2842,2842,2842,2842,2842,2842,2842,2842,2703,...,0,0,0,0,2807,2840,0,0,0,0
F,1049,1049,1049,1049,1049,1049,1049,1049,1049,989,...,0,0,0,0,1034,1048,0,0,0,0
G,316,316,316,316,316,316,316,316,316,304,...,0,0,0,0,314,316,0,0,0,0